@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
    src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }
/* pink color:#E95646
white color: #F5F5F5 
grey 	rgb(120, 120, 120)*/

/* font - background */
.input-group-text {
    width:35px;
}
html, body {
    min-height:100%;

    /* background-color:rgb(245,245,245); */
  
}
p {
    font-size:1em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(120, 120, 120);
  }

  
.background {
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    height:100px;
    width:auto;
    
}
.background-reduced {
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    
}
#profile {
    background:white;
    margin-top:70px;
    position:relative;
}
#help {
    background:white;
    margin-top:10px;
}
body {
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);

    color:	rgb(120, 120, 120);
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei';
    
    /* background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    min-height:20%;
    /* overflow:hidden; */
    /* height:100%; */
}

/* light weight font */
#light {
    font-weight:100
}

/* alert box */

.header {
    /* color:white; */
    /* background-image:linear-gradient(to left, #33ccff 0%, #ff99cc 100%); */


    padding-top:15%;
    margin-top:1px;
    
    bottom:0;
    position:relative;
    align-items: center;
    /* padding:25px; */
    left:0;
    right:0;
    text-align:center;

}

img {
    width:100px;
    height:auto;
}
.rounded {
    box-shadow: none;
    border:0px solid black;
}
.btn {
    border-radius:10px;
    
}
/* buttons */
#buttons {
    
    position:absolute;
    
    padding-top:1em;
    left:0;
    right:0;
    margin:auto;
    width:80%;
    height:auto;
    
}
/* .col-lg-6 {
    
} */
#submit {
    color:white;
    background-color:#E95646;
    border:0.5px solid white;
}
    /* top:0;
    left:0;
    right:0; */
    /* text-align:center;

} */

/* #buttons:hover {
    text-decoration:underline;
} */
/* button {
    width:160px;
    height:40px;
} */
#checkRead {
    font-size:.6em;
}
.bottom {
    /* margin-bottom:10%; */
    
    /* position:fixed; */
    
    position:absolute;
    bottom:0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    font-weight:100;
}

#bottom-text {
    color:#E95646;
}

/* a {
    color:#E95646;
} */
.navigation {
    border-top:0.1px solid grey;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    align-items:center;
    align-content:center;
    max-width:168dp;
}

.navigation .col {
    font-size:1.5em;
    /* background-color:white; */
    color:rgb(120, 120, 120);
    min-width:80dp;
    max-width:168dp;
    text-align:center;
    padding-top:10px;
    background-color: #F5F5F5;
}
.navigation p {
    font-size:.5em;
}
.navigation .col .span {
    vertical-align:middle;

}
.navigation #active {
    color:#0275d8;
    
    
}
#profile {
    padding-top:6%;
    
    position:relative;
}

#profile-account {
    padding:10px;

}

.profile-functions {
    font-size:1.2em;
    border-bottom:.02px solid grey;
    padding:15px;
    
    
}
.profile-functions:active {
    background-color:#F5F5F5;
}

.linebreak {
    background-color:grey;
}
.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;

}

#username {
    vertical-align:middle;
    width:90px;
    height:90px;

}

#profile #address {

}
.item {
    position:relative;
    padding-top:10px;
    display:inline-block;
    width:100px;
    height:100px;
}
#badge{
    position: absolute;
    right:23px;
    bottom:3px;
    background:grey;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:17px;
}

.text-left {
    
    padding-left:10px;
}

.text-left p {
    margin:1px;
}
.text-left .font-weight-light {
    font-size:.7em;
    margin-bottom:6px;
    
}

#toFixed img {
    height:60px;
    border-radius:10px;
    width:auto;
}
#toFixed p {
    text-align:center;
    font-size:.7em;
}

input #date::-ms-expand {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    display: none;
}

#DatePicker select {
    max-width:40%;
}

#fixOrInstall {
    bottom:0;
    right:0;
    left:0;
    padding-bottom:30%;
    position:relative;
    margin:auto;
}

/* colors */
.edit {
    color:#4285F4
}