
/* pink color:#E95646
white color: F5F5F5 
grey 	rgb(120, 120, 120)*/

/* font - background */
html, body {
    min-height:100%;
    /* background-color:rgb(245,245,245); */
    
}
p {
    font-size:1em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(120, 120, 120);
  }
body {
    color:	rgb(120, 120, 120);
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei';
    
    /* background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    min-height:20%;
    /* overflow:hidden; */
    /* height:100%; */
}

/* light weight font */
#light {
    font-weight:100
}

/* alert box */

.header {
    /* color:white; */
    /* background-image:linear-gradient(to left, #33ccff 0%, #ff99cc 100%); */


    padding-top:15%;
    margin-top:1px;
    
    bottom:0;
    position:relative;
    align-items: center;
    /* padding:25px; */
    left:0;
    right:0;
    text-align:center;

}

img {
    width:100px;
    height:auto;
}
.rounded {
    box-shadow: none;
    border:0px solid black;
}
.btn {
    border-radius:10px;
    
}
/* buttons */
#buttons {
    
    position:absolute;
    
    padding-top:1em;
    left:0;
    right:0;
    margin:auto;
    width:80%;
    height:auto;
    
}
/* .col-lg-6 {
    
} */
#submit {
    color:white;
    background-color:#E95646;
    border:0.5px solid white;
}
    /* top:0;
    left:0;
    right:0; */
    /* text-align:center;

} */

/* #buttons:hover {
    text-decoration:underline;
} */
/* button {
    width:160px;
    height:40px;
} */
#checkRead {
    font-size:.6em;
}
.bottom {
    /* margin-bottom:10%; */
    
    /* position:fixed; */
    
    position:absolute;
    bottom:0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    font-weight:100;
}

#bottom-text {
    color:#E95646;
}

/* a {
    color:#E95646;
} */
