
/* pink color:#E95646
white color: #F5F5F5 
grey 	rgb(120, 120, 120)*/

/* font - background */
html {
    font-size: 18px;
}
p {
    margin:4px auto;
}
body {
    color: #494e52;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size:.6em;
}

a {
    color: #494e52;
}

img {
    height:100px;
}